*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Navigation bar edits starts here */
.logo img
{
  width: 125px;
  height: auto;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: lightgrey;
    font-family: 'Poppins', sans-serif
}

.nav-links
{
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-links a{
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.burgerMenu
{
  display: none;
}

.burgerMenu div
{
    width: 25px;
    height: 3px;
    background-color: white;
    margin:5px;
}
/* Navigation bar edits ends here */

/* Media Query Fires for Responsive Design */

/* Navigation Bar */

@media screen and (max-width:1024px)
{
  .nav-links
  {
    width: 50%;
  }
}

@media screen and (max-width:768px)
{
  .nav-links
  {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Navigation Bar */

/* Media Query Ends Here */
